/// Base Colors

// Gray
$color-gray-0:#ffff;
$color-gray-50:#F7F8F9;
$color-gray-100:#E0E4E7;
$color-gray-200:#C1C9D0;
$color-gray-300:#A2ADB8;
$color-gray-400:#8492A1;
$color-gray-500:#677787;
$color-gray-600:#525F6C;
$color-gray-700:#3E4751;
$color-gray-800:#293036;
$color-gray-900:#1A1E22;
$color-gray-1000:#000000;

// Red
$color-red-0:#FEF1F3;
$color-red-50:#FCC6D1;
$color-red-100:#F88EA2;
$color-red-200:#F04B6B;
$color-red-300:#E51A41;
$color-red-400:#C60C30;
$color-red-500:#AD0B2A;
$color-red-600:#81081F;
$color-red-700:#4F0513;
$color-red-800:#32030C;

// Orange
$color-orange-50:#FDF2ED;
$color-orange-100:#F8D5C2;
$color-orange-200:#F2B491;
$color-orange-300:#EB8A55;
$color-orange-400:#E77130;
$color-orange-500:#D55C19;
$color-orange-600:#A04513;
$color-orange-700:#6B2E0D;
$color-orange-800:#4B2009;
$color-orange-900:#2B1205;

// Yellow
$color-yellow-50:#FDF7EA;
$color-yellow-100:#FAE7C1;
$color-yellow-200:#F7D798;
$color-yellow-300:#F2C364;
$color-yellow-400:#EEAF30;
$color-yellow-500:#E7A113;
$color-yellow-600:#C08510;
$color-yellow-700:#7E570A;
$color-yellow-800:#5D4008;
$color-yellow-900:#352504;

// Green
$color-green-50:#EFF9E4;
$color-green-100:#CEECAE;
$color-green-200:#AEDF78;
$color-green-300:#8ED243;
$color-green-400:#75B72C;
$color-green-500:#5B8F22;
$color-green-600:#446B1A;
$color-green-700:#2E4811;
$color-green-800:#20320C;
$color-green-900:#121D07;

// Cyan

$color-cyan-50:#F1FBFF;
$color-cyan-100:#C5EFFF;
$color-cyan-200:#6FD7FF;
$color-cyan-300:#35C8FF;
$color-cyan-400:#03BAFF;
$color-cyan-500:#00A1DE;
$color-cyan-600:#008DC2;
$color-cyan-700:#006990;
$color-cyan-800:#004059;
$color-cyan-900:#002838;

// Blue

$color-blue-50:#EFF8FF;
$color-blue-100:#BFE1FF;
$color-blue-200:#5FB4FF;
$color-blue-300:#0E8FFF;
$color-blue-400:#007AE5;
$color-blue-500:#0065BD;
$color-blue-600:#0058A5;
$color-blue-700:#00427B;
$color-blue-800:#00284C;
$color-blue-900:#00192F;


